:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   
    font-family: 'Epilogue', sans-serif;
    background:var(--almost-white);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
main{
    
    max-inline-size: 23.4375rem;
    inline-size: 100%;
   
}
/* navigation sstyle section */
header{
    
    inline-size: 100%;
    padding: 0.5rem;
}
nav{
    margin-inline:0.3rem;
    margin-block: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
nav p{
    font-weight: 700;
    font-size: 1.8rem;
}
.nav-list{
    display: none;
}
.login-register-div{
    display: none;
}
/* end of navigation style */

.main-img{
    inline-size: 100%;
    block-size: auto;
}
article{
    padding: 0.7rem;
}

h1{
    margin-block: 1.4rem;
    color: var(--almost-black);
    text-align: center;
    font-size:1.7rem;
    font-weight: 700;
}
.main-content{
    font-weight:500;
    font-size:1.125rem;
    color: var(--medium-gray);
    text-align: center;
    line-height: 1.5;
}
.btn-readmore{
    display: block;
    background: var(--almost-black);
    color: var(--almost-white);
    padding:1rem;
    inline-size: 10rem;
    margin-inline:auto ;
    text-align: center;
    margin-block: 1.5rem;
    border-radius: 15px;
    text-decoration: none;
}
footer{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left:0.5rem;
    padding-right:0.5rem;
    align-items: center;
}
footer img{
    inline-size: 20%;
    block-size: auto;
}

/* desktop media */
@media only screen and (min-width: 768px) {
    main{
        min-inline-size: 48rem;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

   .burger-menu{
    display: none;
   }
   select{
    background-color: var(--almost-white);
    border: none;
    font-size: 1rem;
   } 
   nav{
    justify-content:start;
    gap: 2rem;
    inline-size: 70%;
    
   }
    .nav-list{
   
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    inline-size: 70%;
    list-style: none;
    outline: none;
    
   
   }
   .nav-list a{
    color: var(--almost-black);
    text-decoration: none;
   }
   .login-register-div{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 30%;
    align-items: center;

   }
   .login-register-div a{
    display: block;
    text-decoration: none;
    color: var(--almost-black);
   }
   .register-btn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border:1.5px solid var(--medium-gray);
    border-radius:15px;
   }
   h1{
    font-size: 2.5rem;
    text-align: left;
   }
   .main-content{
    text-align: left;
    padding-top: 0;
   }
   .desktop-flex{
    margin-top:2rem;
    margin-inline: auto;
    inline-size: 90%;
    gap:2rem;
    display: flex;
    align-items: end;
    justify-content:space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: end;
   }
    .desktop-img{
    inline-size: 100%;
    block-size: auto;
   }
    .btn-readmore{
    margin-left: 0;
   }
}